@model MRent.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if (Model.Movies.Count() == 0)
{
    <h3>We don't have any customers yet.</h3>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr><th scope="col">Movie</th></tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr><td><a href="Movies/Details/@movie.Id">@movie.Name</a></td></tr>
            }
        </tbody>
    </table>
}
